<div data-ui-view id="movies">
	<div class="container">
		<div class="content">
			<h1>Welcome to the Movies Page</h1>
			<form name="movie_search" novalidate ng-submit="getMovies(movie_search.search)">
				<div class="form-group">
					<label for="movie_search">Movie Title</label>
					<input type="text" id="movie_search" class="form-control" ng-model="movie_search.search" />
				</div>
				<div class="form_footer">
					<input type="submit" class="btn btn-primary" value="Search" />
				</div>
			</form>
			<div class="movies-wrapper">
				<div class="movie" ng-repeat="movie in movies">
					<h2>{{movie.title}}</h2>
					<h2>{{movie.release_date}}</h2>
					<div class="image-wrap" ng-if="movie.poster_path">
						<img ng-src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>