<div data-ui-view id="movies">
	<div class="container">
		<div class="content">
			<h1>Welcome to the Movies Page</h1>
			<form name="movie_search" novalidate ng-submit="getMovies(movie_search.search)">
				<div class="form-group">
					<label for="movie_search">Movie Title</label>
					<input type="text" id="movie_search" class="form-control" ng-model="movie_search.search" />
				</div>
				<div class="form_footer">
					<input type="submit" class="btn btn-primary" value="Search" />
				</div>
			</form>
			<div class="alert-text" ng-if="noMovies">{{noMovies}}</div>
			<div class="movies-wrapper row">
				<div class="movie col-sm-6 col-md-3 text-center" ng-repeat="movie in movies">
					<a ui-sref="index.movies.movie({movieId: movie.id})">
						<div class="image-wrap clearfix" ng-if="movie.poster_path">
							<div class="image" style="background-image:url('https://image.tmdb.org/t/p/w500{{movie.poster_path}}');"></div>
						</div>
						<div class="image-wrap clearfix" ng-if="!movie.poster_path">
							<div class="image" style="background-image:url('../img/no_image_available.png');"></div>
						</div>
						<h4>{{movie.title}}</h4>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>