<div class="container">
	<div class="content">
		<div class="user-info">
			<div>{{currentUser.firstName}}&nbsp;{{currentUser.lastName}}</div>
			<div>{{currentUser.email}}</div>
		</div>
		<div class="profile-middle">
			<div class="btn-wrapper">
				<a class="btn btn-primary" ng-click="trackMovie()">Track A Movie</a>
			</div>
		</div>
		<div class="profile-tracked-movies">
			<div class="tracked_movie" ng-repeat="tracked in trackedMovies">
				<div class="movie_title">{{tracked.movie.title}}</div>
				<div class="movie_image">
					<img ng-src="https://image.tmdb.org/t/p/w500{{tracked.movie.poster_path}}" alt="{{tracked.movie.title}}" />
				</div>
			</div>
		</div>
	</div>
</div>