<script type="text/javascript">
	window.error = new Error("{{{ message }}}");
	window.error.name = "{{{ title }}}";
	window.error.status = "{{{ status }}}";
	{{#if stack}}window.error.stack = {{{ stack }}};{{/if}}
</script>
<div id="wrapper">
	<header></header>
  <div data-ui-view></div>
  <footer></footer>
</div>
