<!DOCTYPE html>
<html ng-app="MovieRating">
<head>
  <base href="/">
  <!-- Set Metadata and Root Directory -->
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <!-- Set SEO Title and Description -->
  <title>{{title}}</title>
  <meta name="description" content="Movie Rating App" />

  <!-- Load CSS-->
  <link rel="stylesheet" type="text/css" href="/assets/vendor.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles.css">

  <!-- Set Server Variables -->
  <script type="text/javacsript">
    window.page_title = "{{ title }}";
    window.env = "{{ env }}";
  </script>

  <!-- Load AngularJS Framework & App -->
  <script type="text/javascript" src="/assets/vendor.js"></script>
  <script type="text/javascript" src="/assets/appFinal.js"></script>
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />

</head>
<body ng-controller="MainController">
{{{ body }}}
</body>
</html>