#movies {
	.movies-wrapper {
		font-size: 0;
		padding-top: 20px;
		.movie {
			font-size: initial;
			vertical-align: top;
			@media only screen and (min-width: 768px) {
				float: none; 
				display: inline-block;
			}
			.movie_link {
				.image-wrap {
					position: relative;
					z-index: 2;
					.image {
						position: relative;
						width: 100%;
						height: 380px;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: cover;
						@media only screen and (min-width: 992px) and (max-width: 1199px) {
							width: 210px;
							height: 330px;
						}
						@media only screen and (min-width: 481px) and (max-width: 991px) {
							height: 500px;
						}
						@media only screen and (max-width: 480px) {
							height: 460px;
						}
					}
					.image_overlay {
						display: none;
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						background: rgba(#000,.4);
						z-index: 1;
						.image_overlay_inner {
							position: absolute;
							top: 50%;
							left: 50%;
							@include prefix(transform, translateX(-50%) translateY(-50%));
							.btn-wrapper:first-of-type {
								margin-bottom: 10px;
							}
						}
					}
				}
				&:hover {
					z-index: -1;
					pointer-events: none;
					.image-wrap {
						.image_overlay {
							display: block;
						}
					}
				}
			}
		}
	}
}